[build]
  command = "quarto render"
  publish = "_site"

[[plugins]]
package = "netlify-plugin-quarto"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/images/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"